@charset "UTF-8";
input {
  padding: 13px 10px;
  margin: 0;
  border: 0;
  line-height: 1;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.home .item {
  margin-bottom: 0.625rem;
  background-color: #fff;
}
.home .slider-box {
  position: relative;
  padding-bottom: 50%;
}
.home .slider-box .slider-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.home .slider-box .slide-item {
  height: 100%;
  overflow: hidden;
}
.home .slider-box .item-img {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.home .item-wrap {
  position: relative;
}
.home .item-wrap.class1 {
  padding-bottom: 90%;
}
.home .item-wrap.class2, .home .item-wrap.class3 {
  padding-bottom: 45%;
}
.home .item-wrap .content {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.home .item-wrap .item-txt {
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 320px) {
  .home .item-wrap .item-txt {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.home .item-wrap.class1 .item-txt, .home .item-wrap.class2 .item-txt {
  position: absolute;
  top: 18%;
}
.home .item-wrap.class1 .item-img, .home .item-wrap.class2 .item-img {
  position: relative;
}
.home .item-wrap.class3 .content {
  padding-right: 50%;
}
.home .item-wrap.class3 .item-txt {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.home .item-wrap.class3 .item-img {
  position: absolute;
  top: 50%;
  left: 62%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 25%;
}
.home .item-wrap .title {
  color: #333;
  font-size: 0.9375rem;
  line-height: 1;
  margin-bottom: 0.625rem;
}
.home .item-wrap .info {
  line-height: 1;
  color: #666;
}

.login-box {
  font-size: 1rem;
  line-height: 1;
}
.login-box .btn-lg {
  width: 100%;
}

#login1 .login-box {
  margin-top: 0.625rem;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
}
@media (max-width: 320px) {
  #login1 .login-box {
    padding-left: 10px;
  }
}
#login1 .login-box-row {
  position: relative;
  padding-left: 70px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 320px) {
  #login1 .login-box-row {
    padding-right: 10px;
  }
}
#login1 .login-box-row .left {
  position: absolute;
  left: 0;
  top: 0;
  padding: 13px 0;
  color: #333;
}

#login2 {
  position: relative;
}
#login2 .login-box {
  position: absolute;
  top: 0;
  width: 100%;
}
#login2 .login-box-row {
  position: relative;
  padding-top: 0.625rem;
  font-size: 16px;
}
#login2 .login-box-row input {
  width: 100%;
  padding-left: 25px;
  margin: 0;
  border: 0;
  font-size: 16px;
  line-height: 1;
}
#login2 .left {
  position: absolute;
  left: 0;
  color: #333;
  font-size: 16px;
  line-height: 1;
  width: 25px;
  margin-top: 13px;
}
#login2 .btn-wrap {
  position: relative;
  padding-top: 50px;
}
#login2 .retrieve-pwd {
  color: #03a9f4;
  font-size: 15px;
  line-height: 1;
  position: absolute;
  top: 15%;
  right: 0;
  border-bottom: 1px solid #03a9f4;
}
#login2 .register {
  padding-top: 3%;
  color: #999999;
  font-size: 15px;
  text-align: center;
}

/* 箭头链接 */
.list-arrow {
  position: relative;
  background-color: #fff;
  overflow: hidden;
}
.list-arrow:not(:last-child) {
  margin-bottom: 0.625rem;
}
.list-arrow.list-multi .arrowlink {
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
@media (max-width: 320px) {
  .list-arrow.list-multi .arrowlink {
    padding-right: 10px;
  }
}
.list-arrow.list-multi .left {
  float: left;
}
.list-arrow.list-multi .right {
  float: right;
}
.list-arrow.list-multi .right span {
  margin-right: 10px;
}

.list-arrow-item {
  line-height: 44px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 320px) {
  .list-arrow-item {
    padding-left: 10px;
  }
}
.list-arrow-item:active, .list-arrow-item.active {
  background-color: #f9f9f9;
}
.list-arrow-item:not(:last-child) {
  background-origin: content-box;
}
.list-arrow-item .arrowlink {
  position: relative;
}
.list-arrow-item .arrowlink:before {
  font-size: 1rem;
  position: absolute;
  top: 0;
  right: 15px;
  margin-right: -.625rem;
  content: "";
  color: #cdcdcd;
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  color: #999;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
@media (max-width: 320px) {
  .list-arrow-item .arrowlink:before {
    right: 10px;
  }
}
.list-arrow-item .arrowlink.no-arrow:before {
  display: none;
}
.list-arrow-item .arrowlink.arrow-down:before {
  content: "\e605";
}
.list-arrow-item .avatar-wrap {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: -5px;
}
.list-arrow-item .avatar-wrap .left {
  line-height: 64px;
}
.list-arrow-item .avatar-wrap .head-img {
  overflow: hidden;
  width: 64px;
  height: 64px;
  -webkit-border-radius: 200px;
}
.list-arrow-item .avatar-wrap .head-img > span {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 200px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
}
.list-arrow-item .btn-lg {
  margin-top: 20px;
  width: 100%;
}

.list-bar {
  position: relative;
  overflow: hidden;
}
.list-bar.gutter-yes .list-bar-item {
  margin-bottom: 0.625rem;
}
.list-bar.no-extend .list-bar-item {
  padding-bottom: 3px;
}
.list-bar .tips {
  line-height: 44px;
  background-color: #fb4d1d;
  color: #fff;
  font-size: 0.875rem;
  text-align: center;
}

.list-bar-item {
  background-color: #fff;
}
.list-bar-item .item-head {
  line-height: 44px;
}
.list-bar-item .item-wrap {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}
.list-bar-item .item-wrap.padding-right-row {
  padding-right: 40%;
}
.list-bar-item .title {
  color: #333;
  font-size: 0.9375rem;
  line-height: 1.2;
}
.list-bar-item .title:not(:last-child) {
  margin-bottom: 0.625rem;
}
.list-bar-item .info {
  color: #666;
  line-height: 1;
}
.list-bar-item .info.nowrap-multi {
  line-height: inherit;
  margin-top: -3px;
  margin-bottom: 0.625rem;
}
.list-bar-item .btn-wrap {
  position: relative;
  text-align: right;
}
.list-bar-item .btn {
  display: inline-block;
  margin-right: 5px;
}
.list-bar-item .item-extend {
  position: absolute;
  left: 0;
}
.list-bar-item .goods-price-sale,
.list-bar-item .goods-price-origin {
  display: inline-block;
  line-height: 24px;
}
.list-bar-item .goods-price-sale {
  font-size: 0.9375rem;
  color: #fb4d1d;
}
.list-bar-item .goods-price-origin {
  font-size: 0.875rem;
  text-decoration: line-through;
  color: #999;
}
.list-bar-item .bk-right,
.list-bar-item .bk-right2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 36%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #666;
  text-align: right;
}
.list-bar-item .bk-right .second {
  position: absolute;
  bottom: 10px;
  text-align: right;
  width: 100%;
  line-height: 1;
}
.list-bar-item .bk-right .charging-quick {
  margin-right: 5px;
}
.list-bar-item .bk-right2 .range {
  margin-bottom: 5px;
}
.list-bar-item .bk-right2 .status {
  font-size: 0.75rem;
}
.list-bar-item .bk-right2 .second {
  position: absolute;
  bottom: 10px;
  text-align: right;
  width: 100%;
  line-height: 1;
}

.list-pic {
  position: relative;
}

.list-pic-item {
  border: 1px solid #cdcdcd;
  border-radius: 0.25rem;
  margin-bottom: 0.625rem;
  background-color: #fff;
  overflow: hidden;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .list-pic-item {
    position: relative;
    border: 0;
  }
  .list-pic-item:before {
    content: "";
    width: 150%;
    height: 150%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #cdcdcd;
    -webkit-transform: scale(0.66667);
    transform: scale(0.66667);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    padding: 1px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0.375rem;
    pointer-events: none;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .list-pic-item {
    position: relative;
    border: 0;
  }
  .list-pic-item:before {
    content: "";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #cdcdcd;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    padding: 1px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0.5rem;
    pointer-events: none;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 3) {
  .list-pic-item {
    position: relative;
    border: 0;
  }
  .list-pic-item:before {
    content: "";
    width: 300%;
    height: 300%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #cdcdcd;
    -webkit-transform: scale(0.33333);
    transform: scale(0.33333);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    padding: 1px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0.75rem;
    pointer-events: none;
  }
}
.list-pic-item .content {
  padding: 8px 8px 0;
}
.list-pic-item .item-wrap .title {
  color: #333;
  font-size: 0.9375rem;
  line-height: 1.2;
  margin-top: 5px;
  margin-bottom: 0.625rem;
}
.list-pic-item .item-wrap .info {
  color: #666;
  line-height: 1;
}
.list-pic-item .item-wrap .info.nowrap-multi {
  line-height: inherit;
  margin-top: -3px;
  margin-bottom: 0.625rem;
}
.list-pic-item .item-pic {
  position: relative;
  padding-bottom: 50%;
  margin: 5px 0;
  overflow: hidden;
}
.list-pic-item .item-pic .item-img {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.list-pic-item .list-arrow-item {
  margin-left: -7px;
  margin-right: -7px;
  padding: 0 8px;
}
.list-pic-item .list-arrow-item:active, .list-pic-item .list-arrow-item.active {
  border-radius: 0 0 3px 3px;
}
.list-pic-item .arrowlink {
  margin-bottom: 1px;
}
.list-pic-item .arrowlink:before {
  right: 8px;
}

#orderInfo .content {
  background-color: #fff;
}
#orderInfo .order-status {
  position: relative;
  max-height: 96px;
  padding-bottom: 37.5%;
  background: #fb4d1d url(../demo/imgs/order-finish.png) right center no-repeat;
  background-size: auto 100%;
}
#orderInfo .order-status .txt {
  font-size: 0.9375rem;
  position: absolute;
  left: 10%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fff;
}
#orderInfo .item-head {
  line-height: 1;
  padding: 3% 0;
  background-color: #eee;
  color: #666;
}
#orderInfo .item-wrap {
  padding: 10px 0;
}
#orderInfo .item-wrap .title {
  color: #333;
  font-size: 0.9375rem;
  line-height: 1;
  margin-top: 5px;
  margin-bottom: 0.625rem;
}
#orderInfo .item-wrap .info {
  line-height: 1.8;
  color: #666;
}
#orderInfo .item-wrap .info.nowrap-multi {
  line-height: inherit;
}
#orderInfo .item-wrap .info.darken {
  color: #333;
}
#orderInfo .item-wrap .info2 {
  position: relative;
  color: #666;
  text-align: right;
}
#orderInfo .item-wrap .info2.darken {
  color: #333;
}
#orderInfo .item-wrap .goods-price-sale {
  font-size: 0.9375rem;
  color: #fb4d1d;
}

.side-bar {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 70%;
  z-index: 9999;
}
.side-bar .overlay {
  opacity: 0;
  visibility: hidden;
  opacity: 0;
}
.side-bar.show .content {
  left: 0;
}
.side-bar.show .overlay {
  opacity: 1;
  visibility: visible;
  opacity: 1;
}
.side-bar .content {
  height: 100%;
  left: -100%;
}
.side-bar .content .avatar-wrap {
  text-align: center;
  padding-top: 10%;
}
.side-bar .content .avatar-wrap .head-img {
  width: 86px;
  height: 86px;
  display: inline-block;
}
.side-bar .content .title,
.side-bar .content .info {
  line-height: 1.8;
}
.side-bar .content .info {
  font-size: 0.75rem;
}
.side-bar .list-arrow-item {
  line-height: 60px;
}

/*# sourceMappingURL=theme.css.map */
