// Single side border-radius

@mixin border-top-radius($radius) {
  border-top-right-radius: $radius;
  border-top-left-radius: $radius;
}

@mixin border-right-radius($radius) {
  border-bottom-right-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin border-bottom-radius($radius) {
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin border-left-radius($radius) {
  border-bottom-left-radius: $radius;
  border-top-left-radius: $radius;
}

@mixin border-radius($radius: $border-radius) {
  @if $enable-rounded {
    border-radius: $radius;
  }
}

//支持圆角的hairline
@mixin border-radius-hairline($border-color: $border-color,$border-radius: $border-radius-base) {
  border: 1px solid $border-color;
  border-radius: $border-radius;
  @media screen and (-webkit-device-pixel-ratio: 1.5) {
    position: relative;
    border: 0;
    &:before {
      content: "";
      width: 150%;
      height: 150%;
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid $border-color;
      -webkit-transform: scale(0.66666666);
      transform: scale(0.66666666);
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      padding: 1px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      @include border-radius($border-radius * 1.5);
      pointer-events: none;
    }
  }
  @media screen and (-webkit-device-pixel-ratio: 2) {
    position: relative;
    border: 0;
    &:before {
      content: "";
      width: 200%;
      height: 200%;
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid $border-color;
      -webkit-transform: scale(.5);
      transform: scale(.5);
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      padding: 1px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      @include border-radius($border-radius * 2);
      pointer-events: none;
    }
  }
  @media screen and (-webkit-min-device-pixel-ratio: 3) {
    position: relative;
    border: 0;
    &:before {
      content: "";
      width: 300%;
      height: 300%;
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid $border-color;
      -webkit-transform: scale(0.33333333);
      transform: scale(0.33333333);
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      padding: 1px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      @include border-radius($border-radius * 3);
      pointer-events: none;
    }
  }
}
