@charset "utf-8";
@import '../../scss/base/settings';

body#demo {
  background: #eee;
}

#demo {
  p {
    margin-bottom: .5rem;
  }

  ul {
    padding: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
  }

  //icon+
  .main {
    padding-top: 20px;
  }

  .main h1 {
    font-size: 36px;

    margin-bottom: 30px;

    text-align: left;

    color: #333;
    border-bottom: 1px solid #eee;
  }

  .helps {
    margin-top: 40px;
  }

  .helps pre {
    overflow: auto;

    margin: 10px 0;
    padding: 20px;

    border: solid 1px #e7e1cd;
    background-color: #fffdef;
  }

  .icon_lists {
    overflow: hidden;
  }

  .icon_lists li {
    float: left;

    width: 25%;

    text-align: center;
  }

  .icon_lists .icon {
    font-size: 42px;
    line-height: 100px;

    margin: 10px 0;

    -webkit-transition: font-size .25s ease-out 0s;
    transition: font-size .25s ease-out 0s;

    color: #333;
  }

  .icon_lists .icon:hover {
    font-size: 60px;

    margin-left: -9px;
  }

  //demo+
  .demo-desc {
    font-size: 16px;

    padding: 10px;

    color: #7cae23;
  }

  .demo-block {
    position: relative;
  }

  .demo-block .header,
  .demo-block .footer {
    position: absolute;
  }

  .tab-nav {
    top: 45px;
  }

  .tab-content {
    margin-top: 45px;
  }

  .demo-block > .list,
  .demo-block > .form,
  .demo-block > .tooltips {
    margin-bottom: 20px;
  }

  .content h3 {
    font-size: 15px;
    line-height: 44px;

    padding: 0 15px;
  }

  .border-list {
    background-color: #fff;
  }

  .border-list li {
    width: 70%;
    margin: 10px auto;
    padding: 5px;

    text-align: center;

    -webkit-box-pack: center;
  }

  .btn-group-bottom {
    bottom: 56px;
  }

  .table {
    line-height: 40px;

    text-align: center;

    background-color: #fff;
  }

  .scroller {
    overflow: hidden;

    width: auto;
    height: 300px;
    margin: 20px;
    padding: 10px;
  }

  .scroller li {
    margin-bottom: 10px;
  }

  .notice {
    z-index: -1;
    top: 0;

    height: 400px;
  }

  .icon-lists li {
    float: left;

    width: 103px;
    height: 100px;

    text-align: center;
  }

  .icon-lists li i {
    font-size: 32px;
    line-height: 44px;
  }

  .icon-lists .icon,
  .icon-lists [class^='icon-'] {
    margin: 10px 0;

    color: #000;
  }

  .code,
  .fontclass {
    font-size: 12px;
  }

  .col {
    box-sizing: border-box;
    padding: 5px;

    text-align: center;

    border: 1px solid #ddd;
    background: #777;
  }

  .flex {
    min-height: 80px;
    margin-bottom: 10px;

    border: 1px solid #ddd;
  }

  .flex-ver {
    min-height: 80px;
    margin-bottom: 10px;

    border: 1px solid #ddd;
  }

  .row-flex-ver {
    min-height: 100px;

    border: 1px solid #ddd;
  }

  .test-img {
    width: 50px;
    height: 50px;

    background: #777;
  }
  .header {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f9f9f9), to(#e0e0e0));
    color: #333;
    box-shadow: 0 0 3px #999;
  }

  .footer {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f9f9f9), to(#c0c0c0));
    color: #333;
    box-shadow: 0 0 3px #999;
    padding-top: 3px;
    padding-bottom: 3px;
    line-height: 50px;
    @media screen and (min-width: 375px) {
      padding-top: 8px;
    }
    .col-20 {
      line-height: 1;
      text-align: center;
      color: #333;
      &.active {
        .icon-home-fill,
        .icon-category-fill,
        .icon-activity-fill,
        .icon-cart-fill,
        .icon-profile-fill,
        .icons-txt {
          color: #3355ff;
        }
      }
      i {
        display: block;
        font-size: 25px;
        margin-bottom: 3px;
      }
      .icons-txt {
        font-size: $font-size-h6;
        color: #838383;
      }
    }
  }

  section {
    &:first-child {
      h1.title {
        margin-top: 0;
      }
    }
    h1.title {
      margin-top: 5%;
    }
    &.page-padding {
      h1.title,
      h2.title,
      h3.title,
      h5.title {
        margin-right: -15px;
        margin-left: -15px;
      }
    }
    h1.title,
    h2.title,
    h3.title,
    h5.title {
      margin-bottom: 0;
      padding-left: 10px;
    }
    h1.title {
      line-height: 44px;

      height: 44px;

      background: #e1d498;
    }
    h2.title {
      line-height: 38px;

      height: 38px;

      background: #ffc;
    }
    h3.title {
      line-height: 34px;

      height: 34px;

      background: #f2dede;
    }
    h5.title {
      line-height: 28px;

      height: 28px;

      background: #e0e0e0;
    }

    .bdr [class*='col'] {
      border: 1px solid #fffadf;
      background: #f33;
    }

    [class*='col'] .img-wrap {
      position: relative;

      display: block;
      overflow: hidden;

      margin-bottom: 3px;
      padding-bottom: 100%;
      img {
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    .a {
      background: #d22;
    }

    .goods-item {
      background: #fff;
    }
    .goods-title,
    .goods-price,
    .goods-price-sale {
      padding-right: 10px;
      padding-left: 10px;
    }
    .goods-title {
      font-size: $font-size-h3;

      color: #1f1f1f;
    }

    .goods-price {
      font-size: $font-size-h2;

      color: #f33;
    }

    .goods-price-sale {
      font-size: $font-size-h6;

      padding-bottom: 2%;

      text-decoration: line-through;

      color: #9d9d9d;
    }

    // block:border
    #border {
      background-color: #fff;
    }

    [class*='k1 border-'] {
      width: 80%;
      margin: 5px;
      padding:5px;

      text-align: center;
    }

    [class*='k2 border-'] {
      width: 80%;
      margin: 5px;
      padding:5px;
    }

    .border,
    .border-t,
    .border-r,
    .border-b,
    .border-l,
    .border-tb {
      &:before,
      &:after {
        border-color: #f33 !important;
      }
    }
  }

  .piece4item {
    line-height: 1;

    padding: 10%;

    text-align: center;
    i {
      font-size: 42px;

      display: inline-block;

      margin-bottom: 5px;
      padding: 5px;

      border-radius: 8px;
      &.bk1 {
        color: #39f;
        background-color: #ff1;
      }
      &.bk2 {
        color: #fff;
        background-color: #c42f3f;
      }
      &.bk3 {
        color: #333;
        background-color: #00ff98;
      }
      &.bk4 {
        color: #fff;
        background-color: #0296f1;
      }
      &.bk5 {
        color: #333;
        background-color: #d7ba42;
      }
      &.bk6 {
        color: #fff;
        background-color: #c42f3f;
      }
      &.bk7 {
        color: #fff;
        background-color: #0e0;
      }
      &.bk8 {
        color: #333;
        background-color: #00ff98;
      }
    }
  }
}
/* 常用板块 */
body{
  .tooltips{
    position: fixed;
    width:100%;
    top:0;
    left: 0;
    height: 0;
    line-height: 1.5;
    padding: 0 25px 0 10px;
    font-size: 0;
    .close{
      position:absolute;
      height:100%;
      top:0;
      right: 0;
      line-height: 2.8;
      padding: 0 8px;
    }
  }
  &.tooltips-open{
    .container{
      top: 40px;
    }
    .tooltips{
      background-color: rgba(0,0,0,0.3);
      &.on{
        height: auto;
        font-size: 10px;
        .close{
          &:before{
            content: "\e608";
          }
        }
      }
    }
  }
}