@charset "UTF-8";
body#demo {
  background: #eee;
}

#demo p {
  margin-bottom: 0.5rem;
}
#demo ul {
  padding: 0;
}
#demo .main {
  padding-top: 20px;
}
#demo .main h1 {
  font-size: 36px;
  color: #333;
  text-align: left;
  margin-bottom: 30px;
  border-bottom: 1px solid #eee;
}
#demo .helps {
  margin-top: 40px;
}
#demo .helps pre {
  padding: 20px;
  margin: 10px 0;
  border: solid 1px #e7e1cd;
  background-color: #fffdef;
  overflow: auto;
}
#demo .icon_lists {
  overflow: hidden;
}
#demo .icon_lists li {
  float: left;
  width: 25%;
  text-align: center;
}
#demo .icon_lists .icon {
  font-size: 42px;
  line-height: 100px;
  margin: 10px 0;
  color: #333;
  -webkit-transition: font-size 0.25s ease-out 0s;
  -moz-transition: font-size 0.25s ease-out 0s;
  transition: font-size 0.25s ease-out 0s;
}
#demo .icon_lists .icon:hover {
  font-size: 60px;
  margin-left: -9px;
}
#demo .demo-desc {
  padding: 10px;
  font-size: 16px;
  color: #7CAE23;
}
#demo .demo-block {
  position: relative;
}
#demo .demo-block .header,
#demo .demo-block .footer {
  position: absolute;
}
#demo .tab-nav {
  top: 45px;
}
#demo .tab-content {
  margin-top: 45px;
}
#demo .demo-block > .list, #demo .demo-block > .form, #demo .demo-block > .tooltips {
  margin-bottom: 20px;
}
#demo .content h3 {
  padding: 0 15px;
  line-height: 44px;
  font-size: 15px;
}
#demo .border-list {
  background-color: #fff;
}
#demo .border-list li {
  width: 70%;
  margin: 10px auto;
  padding: 5px;
  -webkit-box-pack: center;
  text-align: center;
}
#demo .btn-group-bottom {
  bottom: 56px;
}
#demo .table {
  line-height: 40px;
  text-align: center;
  background-color: #fff;
}
#demo .scroller {
  width: auto;
  height: 300px;
  margin: 20px;
  padding: 10px;
  overflow: hidden;
}
#demo .scroller li {
  margin-bottom: 10px;
}
#demo .notice {
  top: 0;
  z-index: -1;
  height: 400px;
}
#demo .icon-lists li {
  float: left;
  height: 100px;
  width: 103px;
  text-align: center;
}
#demo .icon-lists li i {
  font-size: 32px;
  line-height: 44px;
}
#demo .icon-lists .icon, #demo .icon-lists [class^="icon-"] {
  margin: 10px 0;
  color: #000;
}
#demo .code, #demo .fontclass {
  font-size: 12px;
}
#demo .col {
  padding: 5px;
  background: #777;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #ddd;
}
#demo .flex {
  border: 1px solid #ddd;
  min-height: 80px;
  margin-bottom: 10px;
}
#demo .flex-ver {
  border: 1px solid #ddd;
  min-height: 80px;
  margin-bottom: 10px;
}
#demo .row-flex-ver {
  border: 1px solid #ddd;
  min-height: 100px;
}
#demo .test-img {
  width: 50px;
  height: 50px;
  background: #777;
}
#demo .header {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f9f9f9), to(#e0e0e0));
  color: #333;
  box-shadow: 0 0 3px #999;
}
#demo .footer {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f9f9f9), to(#c0c0c0));
  color: #333;
  box-shadow: 0 0 3px #999;
  padding-top: 3px;
  padding-bottom: 3px;
  line-height: 50px;
}
@media screen and (min-width: 375px) {
  #demo .footer {
    padding-top: 8px;
  }
}
#demo .footer .col-20 {
  line-height: 1;
  text-align: center;
  color: #333;
}
#demo .footer .col-20.active .icon-home-fill,
#demo .footer .col-20.active .icon-category-fill,
#demo .footer .col-20.active .icon-activity-fill,
#demo .footer .col-20.active .icon-cart-fill,
#demo .footer .col-20.active .icon-profile-fill,
#demo .footer .col-20.active .icons-txt {
  color: #3355ff;
}
#demo .footer .col-20 i {
  display: block;
  font-size: 25px;
  margin-bottom: 3px;
}
#demo .footer .col-20 .icons-txt {
  font-size: 0.625rem;
  color: #838383;
}
#demo section:first-child h1.title {
  margin-top: 0;
}
#demo section h1.title {
  margin-top: 5%;
}
#demo section.page-padding h1.title,
#demo section.page-padding h2.title,
#demo section.page-padding h3.title,
#demo section.page-padding h5.title {
  margin-left: -15px;
  margin-right: -15px;
}
#demo section h1.title,
#demo section h2.title,
#demo section h3.title,
#demo section h5.title {
  padding-left: 10px;
  margin-bottom: 0;
}
#demo section h1.title {
  height: 44px;
  line-height: 44px;
  background: #e1d498;
}
#demo section h2.title {
  height: 38px;
  line-height: 38px;
  background: #ffffcc;
}
#demo section h3.title {
  height: 34px;
  line-height: 34px;
  background: #f2dede;
}
#demo section h5.title {
  background: #e0e0e0;
  height: 28px;
  line-height: 28px;
}
#demo section .bdr [class*="col"] {
  border: 1px solid #fffadf;
  background: #f33;
}
#demo section [class*="col"] .img-wrap {
  display: block;
  position: relative;
  padding-bottom: 100%;
  overflow: hidden;
}
#demo section [class*="col"] .img-wrap .img,
#demo section [class*="col"] .img-wrap img {
  position: absolute;
  left: 0;
  top: 0;
}
#demo section .a {
  background: #d22;
}
#demo section .goods-item {
  background: #fff;
}
#demo section .goods-title,
#demo section .goods-price,
#demo section .goods-price-sale {
  padding-left: 5px;
  padding-right: 5px;
}
#demo section .goods-title {
  color: #1f1f1f;
}
#demo section .goods-price {
  color: #f33;
}
#demo section .goods-price-sale {
  font-size: 10px;
  text-decoration: line-through;
  color: #9d9d9d;
  padding-bottom: 5%;
}
#demo section #border {
  background-color: #fff;
}
#demo section [class*="k1 border-"] {
  margin: 5px;
  width: 80%;
  text-align: center;
}
#demo section [class*="k2 border-"] {
  margin: 5px;
  width: 80%;
}
#demo section .border:before, #demo section .border:after,
#demo section .border-t:before,
#demo section .border-t:after,
#demo section .border-r:before,
#demo section .border-r:after,
#demo section .border-b:before,
#demo section .border-b:after,
#demo section .border-l:before,
#demo section .border-l:after,
#demo section .border-tb:before,
#demo section .border-tb:after {
  border-color: #f33 !important;
}
#demo .piece4item {
  text-align: center;
  padding: 10%;
  line-height: 1;
}
#demo .piece4item i {
  display: inline-block;
  font-size: 42px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 8px;
}
#demo .piece4item i.bk1 {
  background-color: #ff1;
  color: #39f;
}
#demo .piece4item i.bk2 {
  background-color: #C42F3F;
  color: #fff;
}
#demo .piece4item i.bk3 {
  background-color: #00ff98;
  color: #333;
}
#demo .piece4item i.bk4 {
  background-color: #0296f1;
  color: #fff;
}
#demo .piece4item i.bk5 {
  background-color: #d7ba42;
  color: #333;
}
#demo .piece4item i.bk6 {
  background-color: #C42F3F;
  color: #fff;
}
#demo .piece4item i.bk7 {
  background-color: #00ee00;
  color: #fff;
}
#demo .piece4item i.bk8 {
  background-color: #00ff98;
  color: #333;
}

/* 常用板块 */

/*# sourceMappingURL=demo.css.map */
